<div fxLayout="row" fxFlexFill>
  <div fxFlex="20">
    <app-filter></app-filter>
  </div>
  <div fxFlex="1" fxFill fxLayoutAlign="space-around">
    <mat-divider class="mat-divider" vertical style="height:100%"></mat-divider>
  </div>
  <div fxFlex="50" fxFill>
    <app-ambulance-content></app-ambulance-content>
  </div>
  <div fxFlex="1" fxFill fxLayoutAlign="space-around">
    <mat-divider class="mat-divider" vertical style="height:100%"></mat-divider>
  </div>
  <div fxFlex="26" fxFill>
    <app-ambulance-context></app-ambulance-context>
  </div>
</div>
